<a href="https://colab.research.google.com/github/AshitoshKadam/EXP/blob/master/python_task_1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python task 1

Q 1

In [15]:
import pandas as pd
df=pd.read_csv('/content/dataset-1.csv')


def generate_car_matrix(df)->pd.DataFrame:

    # Write your logic here
    df=pd.read_csv('/content/dataset-1.csv')

    car_matrix = df.pivot(index='id_1', columns='id_2', values='car')
    car_matrix = car_matrix.fillna(0)
    for i in range(min(car_matrix.shape[0], car_matrix.shape[1])):
        car_matrix.iloc[i, i] = 0



    return car_matrix
print(generate_car_matrix(df).iloc[:6,:6])

id_2   801   802  803  804   805   806
id_1
801    0.0   2.8  6.0  7.7  11.7  13.4
802    2.8   0.0  3.4  5.2   9.2  10.9
803    6.0   3.4  0.0  2.0   6.0   7.7
804    7.7   5.2  2.0  0.0   4.4   6.1
805   11.7   9.2  6.0  4.4   0.0   2.0
806   13.4  10.9  7.7  6.1   2.0   0.0

Q 2

In [17]:
def get_type_count(df):

    df = pd.read_csv('/content/dataset-1.csv')


    df['car_type'] = pd.cut(df['car'], bins=[-float('inf'), 15, 25, float('inf')],
                            labels=['low', 'medium', 'high'], right=False)


    type_counts = df['car_type'].value_counts().to_dict()


    sorted_type_counts = dict(sorted(type_counts.items()))

    return sorted_type_counts


df = '/content/dataset-1.csv'
result_type_counts = get_type_count(df)
print(result_type_counts)

{'high': 56, 'low': 196, 'medium': 89}

Q 3

In [20]:
def get_bus_indices(df):

    df = pd.read_csv('dataset-1.csv')
    bus_mean = df['bus'].mean()


    bus_indices = df[df['bus'] > 2 * bus_mean].index


    sorted_bus_indices = sorted(bus_indices)

    return sorted_bus_indices


df = 'dataset-1.csv'
result_bus_indices = get_bus_indices(df)
print(result_bus_indices)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

Q 4

In [21]:
def filter_routes(df):

    df = pd.read_csv('dataset-1.csv')


    route_avg_truck = df.groupby('route')['truck'].mean()


    filtered_routes = route_avg_truck[route_avg_truck > 7].index.tolist()


    sorted_filtered_routes = sorted(filtered_routes)

    return sorted_filtered_routes

df = 'dataset-1.csv'
result_filtered_routes = filter_routes(df)
print(result_filtered_routes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q 5

In [25]:
import pandas as pd

def multiply_matrix(result_matrix):

    modified_matrix = result_matrix.copy()


    modified_matrix[modified_matrix > 20] *= 0.75
    modified_matrix[modified_matrix <= 20] *= 1.25


    modified_matrix = modified_matrix.round(1)

    return modified_matrix


dataset_path = 'dataset-1.csv'
result_matrix = generate_car_matrix(dataset_path)

modified_result_matrix = multiply_matrix(result_matrix)
print(modified_result_matrix)

id_2   801   802   803   804   805   806   807   808   809   821   822   823  \
id_1
801    0.0   3.5   7.5   9.6  14.6  16.8  21.1  24.5  19.7  22.0  23.1  24.9
802    3.5   0.0   4.2   6.5  11.5  13.6  17.9  21.4  23.1  19.6  20.7  22.4
803    7.5   4.2   0.0   2.5   7.5   9.6  13.9  17.4  19.1  22.2  23.6  19.4
804    9.6   6.5   2.5   0.0   5.5   7.6  11.9  15.4  17.1  20.2  21.6  23.9
805   14.6  11.5   7.5   5.5   0.0   2.5   6.8  10.2  12.0  15.0  16.5  18.8
806   16.8  13.6   9.6   7.6   2.5   0.0   4.8   8.2  10.0  13.0  14.5  16.8
807   21.1  17.9  13.9  11.9   6.8   4.8   0.0   3.6   5.4   8.5  10.0  12.3
808   24.5  21.4  17.4  15.4  10.2   8.2   3.6   0.0   2.1   5.2   6.6   8.9
809   19.7  23.1  19.1  17.1  12.0  10.0   5.4   2.1   0.0   3.6   5.1   7.4
821   22.0  19.6  22.2  20.2  15.0  13.0   8.5   5.2   3.6   0.0   2.2   4.6
822   23.1  20.7  23.6  21.6  16.5  14.5  10.0   6.6   5.1   2.2   0.0   2.8
823   24.9  22.4  19.4  23.9  18.8  16.8  12.3   8.9   7.4   4.6   2.8   0.0
824   20.9  23.7  20.7  19.2  20.5   9.8  14.0  10.6   9.2   6.3   4.5   2.2
825   21.8  24.8  21.8  20.3  22.0  20.0  15.5  12.1  10.6   7.8   5.9   3.7
826   23.2  21.2  23.5  22.0  24.2  22.2  17.7  14.3  12.8  10.0   8.2   5.9
827   24.4  22.4  20.0  23.6  19.7  24.3  19.8  16.4  14.9  11.8  10.0   7.7
829   27.2  25.3  22.9  21.7  23.3  21.8  24.5  21.2  19.7  16.6  14.8  12.5
830   28.7  26.8  24.4  23.2  20.1  23.6  20.2  23.6  22.1  19.0  17.2  14.9
831   29.4  27.5  25.1  23.9  20.8  24.5  21.1  24.8  23.3  20.2  18.4  16.1

id_2   824   825   826   827   829   830   831
id_1
801   20.9  21.8  23.2  24.4  27.2  28.7  29.4
802   23.7  24.8  21.2  22.4  25.3  26.8  27.5
803   20.7  21.8  23.5  20.0  22.9  24.4  25.1
804   19.2  20.3  22.0  23.6  21.7  23.2  23.9
805   20.5  22.0  24.2  19.7  23.3  20.1  20.8
806   18.5  20.0  22.2  24.3  21.8  23.6  24.5
807   14.0  15.5  17.7  19.8  24.5  20.2  21.1
808   10.6  12.1  14.3  16.4  21.2  23.6  24.8
809    9.2  10.6  12.8  14.9  19.7  22.1  23.3
821    6.3   7.8  10.0  11.8  16.6  19.0  20.2
822    4.5   5.9   8.2  10.0  14.8  17.2  18.4
823    2.2   3.7   5.9   7.7  12.5  14.9  16.1
824    0.0   2.1   4.4   6.2  11.0  13.3  14.6
825    2.1   0.0   2.8   4.6   9.3  11.7  12.9
826    4.4   2.8   0.0   2.6   7.3   9.6  10.9
827    6.2   4.6   2.6   0.0   5.2   7.6   8.8
829   20.1   9.3   7.3   5.2   0.0   3.0   4.2
830   13.3   0.0   9.6   7.6   3.0   0.0   1.7
831   14.6  12.9  10.9   8.8   4.2   1.7   0.0

Q 6

In [30]:
import pandas as pd

def check_timestamp_completeness(df):
    try:
        # Combine startDay and startTime columns to create a datetime column for the start timestamp
        df['start_timestamp'] = pd.to_datetime(df['startDay'] + ' ' + df['startTime'])

        # Combine endDay and endTime columns to create a datetime column for the end timestamp
        df['end_timestamp'] = pd.to_datetime(df['endDay'] + ' ' + df['endTime'])

    except pd.errors.OutOfBoundsDatetime as e:
        # Handle the OutOfBoundsDatetime error
        print(f"Error: {e}")
        return pd.Series(False, index=pd.MultiIndex.from_frame(df[['id', 'id_2']]))

    # Check if the time range for each (id, id_2) pair spans a full 24-hour period and all 7 days of the week
    completeness_check = (
        df.groupby(['id', 'id_2'])
        .apply(lambda group: group['start_timestamp'].min().time() != pd.Timestamp('00:00:00').time() or
                            group['end_timestamp'].max().time() != pd.Timestamp('23:59:59').time() or
                            set(group['start_timestamp'].dt.dayofweek) != set(range(7)) or
                            set(group['end_timestamp'].dt.dayofweek) != set(range(7))
              )
    )

    return completeness_check

# Example usage:
# Assuming df is the DataFrame loaded from dataset-2.csv
df = pd.read_csv('dataset-2.csv')
result = check_timestamp_completeness(df)
print(result)

Error: Out of bounds nanosecond timestamp: 1-01-01 05:00:00 present at position 0
id       id_2
1040000  -1          False
1040010  -1          False
1040020  -1          False
1040030  -1          False
1050000   1050001    False
                     ...
1031012   1031030    False
          1031032    False
1031014   1031016    False
          1031018    False
          1031020    False
Length: 39514, dtype: bool